*{
    padding: 1px;
    margin: 1px;
}

body {
    overflow: hidden;
    background-color: black;
}
#main-container {
    display: flex;
}

#lefter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 860px;
    background-color: white;
    z-index: 2;
}

#righter {
    display: flex;
    height: 860px;
}

#container {
    display: flex;
    position: fixed;
    border: 0px solid #dfe3e8;
    z-index: 1;
}

#editer-container {
    display: flex;
    position: fixed;
    border: 0px solid #dfe3e8;
    z-index: 3;
    top: -3px;
    left: -3px;
}

#lefter button {
    width: 98%;
}