*{
    padding: 1px;
    margin: 1px;
}

body {
    overflow: hidden;
    background-color: black;
}
#main-container {
    display: flex;
}

#lefter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: auto;
    background-color: white;
    z-index: 2;
}

#container {
    display: inline-flex;
    border: 0px solid #dfe3e8;
    z-index: 1;
}

button {
    width: 98%;
}